* {
    box-sizing: border-box;
}

:root {
    --main-color: #bd8583;
    --text-color: #f0f8ff;
    --font: 'Courier New', Courier, monospace;
}

body {
    min-height: 100%;
    margin: 0;
    background-image: url('../6.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.calculator {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: var(--main-color);
}

.main-screen {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-end;
}

#screen {
    width: 100%;
    background-color: var(--main-color);
    border: none;
    padding: 10px;
    color: var(--text-color);
    text-align: right;
    font-size: 3.5em;
    font-family: var(--font);
}

.row {
    display: flex;
}

.calc-btn {
    display: block;
    width: 25%;
    height: 90px;
    background-color: var(--main-color);
    color: var(--text-color);
    background-color: none;
    border: 1px solid #d7b6b5;
    font-family: var(--font);
    font-size: 1.5em;
}

.calc-btn:hover {
    background-color: #ca9d9c;
}

.operators {
    background-color: #c49190;
}

.equal-operator {
    background-color: #f5ced0;
    color: #bd8583;
}

@media (max-width: 1024px) {
    .calculator {
        width: 60%;
    }
} 

@media (max-width: 420px) {
    .calculator {
        width: 100%;
    }
}
